.html{
  overflow-x: hidden;
}

.bg-theme{
  background-color: teal;
}
.cart-icon{
  font-size: 1.5rem;
}
.menu-icon{
  font-size: 1.5rem;
}
.hero-backgrund{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about-backgrund{
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.btn-warning{
  padding:8px 35px
}
